* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}

/* shared styles */
.display-flex {
  display: flex;
}

.dark1 {
  color: rgba(19, 19, 19, 1);
}

.dark2 {
  color: rgba(66, 66, 66, 1);
}

.dark3 {
  color: rgba(114, 114, 114, 1);
}
.bgc {
  background: rgba(255, 144, 14, 0.1);
}

.max-width {
  max-width: 1440px;
  margin: 0 auto;
}

.btn-primary {
  background-color: rgba(255, 144, 14, 1);
  border-radius: 8px;
  width: max-content;
  padding: 20px 25px;
  color: white;
  font-size: 1.25rem;
  font-weight: 600px;
  border: none;
}

.section-header {
  font-size: 2.8rem;
  font-weight: 700;
}

main > section {
  margin-bottom: 130px;
}

.fact-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.fact-cards .card {
  border: 1px solid rgba(255, 144, 14, 1);
  border-radius: 8px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 242px;
  height: 242px;
  padding: 60px 0;
}

/* header styles */

header {
  margin-bottom: 130px;
}
/* navbar styles */

.navbar {
  justify-content: space-between;
  padding: 50px 0;
  align-items: center;
}

.nav-item {
  margin-right: 40px;
  list-style: none;
}

.nav-links {
  text-decoration: none;
  font-weight: 500;
}

/* banner styles */

.banner-content {
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
}

.banner-title {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.banner-description {
  margin-bottom: 15px;
}

.banner-btn {
  margin-bottom: 50px;
}

.banner-img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 45px;
}

.image-containers {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.teams {
  align-items: center;
}

.teams-content {
  flex-direction: column;
  gap: 15px;
  margin-left: 70px;
}

.teams-content h2 {
  font-size: 2.8rem;
  max-width: 455px;
  font-weight: 700;
}

.quick-list {
  font-weight: 500;
}

.features {
  color: rgba(255, 144, 14, 1);
}

.teams-content-description {
  max-width: 555px;
}

/* some fact section styles  */

.section-description {
  width: 540px;
  margin: 25px 0 100px 0;
}

.card-description {
  font-size: 20px;
  font-weight: 700;
}

/* our sponsor section  */
.sponsor-header-container {
  max-width: 545px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}

.sponsor-header-container h2 {
  margin-bottom: 12px;
}

.sponsor-img-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

/* footer section  */

.footer-container {
  border-radius: 8px;
  margin-bottom: 240px;
}

.footer-para {
  font-size: 20px;
  text-align: center;
  padding: 40px 0;
}

/* responsive media query */

@media screen and (max-width: 567px) {
  /* header section  */

  .navbar,
  ul {
    flex-direction: column;
  }

  .brand {
    margin-bottom: 10px;
  }

  /* team section  */

  .image-containers {
    grid-template-columns: repeat(1, 1fr);
    gap: 24px;
  }

  .teams {
    flex-direction: column;
  }

  .image-containers {
    margin-bottom: 20px;
  }

  .teams-content {
    margin: 0 auto;
    align-items: center;
  }

  .teams-content h2 {
    width: 85%;
  }

  .teams-content-description {
    width: 85%;
  }

  /* some fact sention 
   */
  .fact-center {
    text-align: center;
  }

  .section-description {
    width: 100%;
    padding: 0 20px;
    margin-bottom: 50px;
  }

  .fact-cards {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  .fact-cards .card {
    padding: 60px 35px;
  }

  /* sponsor section  */
  .sponsor-img-container {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    gap: 20px;
  }

  /* footer section  */

  .footer-container {
    margin-bottom: 100px;
  }
}

/* for medium size devices */

@media screen and (min-width: 567px) and (max-width: 992px) {
  .teams {
    flex-direction: column;
  }

  .teams-content {
    margin-top: 20px;
  }

  /* some fact section  */

  .fact-center {
    text-align: center;
  }

  .section-description {
    width: 100%;
    margin-bottom: 50px;
  }

  .fact-cards {
    /* padding-left: 120px; */
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    justify-items: center;
    align-items: center;
  }

  /* sponsor section  */
  .sponsor-img-container {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 20px;
  }

  .sponsor-img-container img:last-child {
    grid-column: span 2;
    justify-self: center;
  }

  /* footer section  */

  .footer-container {
    margin-bottom: 100px;
  }
}
