* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}

/* shared styles */
.display-flex {
  display: flex;
}

.dark1 {
  color: rgba(19, 19, 19, 1);
}

.dark2 {
  color: rgba(66, 66, 66, 1);
}

.dark3 {
  color: rgba(114, 114, 114, 1);
}
.bgc {
  background: rgba(255, 144, 14, 0.1);
}

.max-width {
  max-width: 1440px;
  margin: 0 auto;
}

.btn-primary {
  background-color: rgba(255, 144, 14, 1);
  border-radius: 8px;
  padding: 20px 25px;
  color: white;
  font-size: 1.25rem;
  font-weight: 600px;
  border: none;
}

/* header styles */

/* navbar styles */

.navbar {
  justify-content: space-between;
  padding: 50px 0;
  align-items: center;
}

.brand {
  font-size: 2.8rem;
  font-weight: 700;
}

.nav-item {
  margin-right: 40px;
  list-style: none;
}

.nav-links {
  text-decoration: none;
  font-weight: 500;
}

/* banner styles */

.banner-content {
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
}

.banner-title {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.banner-description {
  margin-bottom: 15px;
}

.banner-btn {
  margin-bottom: 50px;
}

.banner-img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 45px;
}
